/* HEADER Section */

.main-header {
	margin: 0px;
	font-family: Century Gothic;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.logo {
	grid-column: 1/2;
	grid-row: 1/3;
}

.menu {
	grid-column: 2/5;
	grid-row: 2/3;
}

.search-bar {
	margin-right: 30px;
}

#main-menu {
	margin-top: 20px;
	padding: 0px;
	text-align: center;
	list-style: none;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(7, 1fr);
}

#main-menu img {
	padding-left: 30px;
}

.button {
	color: black;
	padding: 0px 0px;
	border-right: 1px black solid;
}

.button a {
	color: black;
}

.button:hover a {
	color: #ae9f61;
}

.buttonlast {
	color: black;
	padding: 0px 0px;
}

.buttonlast a {
	color: black;
}

.buttonlast:hover a {
	color: #ae9f61;
}

a {
	text-decoration: none;
}

li:hover {
	color: #ae9f61;
}

.second-header {
	font-family: Century Gothic;
	padding: 15px;
	background: #ff7f27;
	position: sticky;
	top:0;
}

#second-menu {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(6, 1fr);
	font-size: 12px;
}

/*ABOUT PAGE*/
body {
	color: white;
	text-align: center;
}
 .border{
	border: 5px solid black;
 }
	

.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat (4, 1fr);
	grid-template-rows: repeat (3, 1fr);
	background: white;
	margin: 50px 70px 50px 70px;
}
 
 /* FIRST CONTAINER */

.one {
	grid-column: 1/2;
	grid-row: 1/2;
	background: #52504e;
	padding: 40px 0px 20px 30px;
	text-align: left;
	font-size: 20px;
	font-family: century gothic;
}

/*SECOND CONTAINER*/

.two {
	grid-column: 1/2;
	grid-row: 2/4;
	background: #ff7f27;
	padding: 10px;
	margin: 0px;
}

.baba {
	padding: 20px;
	margin: 0px;
	
}

.baba p{
	text-align: left;
	font-family: century gothic;
	font-size: 14px;
}

.baba h3 {
	text-align: left;
	font-family: century gothic;
	font-size: 20px;
}


/* THIRD CONTAINER */
.three {
	grid-column: 3/4;
	grid-row: 1/4;
	font-family: century gothic;
}

.r {
	background: white;
	padding: 50px;
	color: #3e3e3b;
}

.r p{
	text-align: justify;
	font-family: century gothic;
	font-size: 14px;
}

.r h4{
	text-align: center;
	font-family: century gothic;
	font-size: 20px;
}

/*COPYRIGHT Section*/
.copyright {
	text-align: center;
	font-family: Century Gothic;
	background: #ff7f27;
	color: white;
	padding: 50px;
	margin: 0px 70px 50px 70px;
}

/* WEBSITES Section */

.websites {
	background: #c0c0c0;
	padding: 2px;
	padding-right: 40px;
	margin-bottom: 2px;
}

#links {	
	text-align: center;
	font-family: Century Gothic;
	color: #3e3e3b;
	font-size: 15px;
}

.back-to-the-top {
	font-family: Century Gothic;
	font-size: 13px;
	padding: 5px;
	margin-bottom: 50px;
	text-align: center;
}

/* FOOTER */

.footer {
	background: #c0c0c0;
	padding: 10px;
	text-align: center;
	color: #3e3e3b;
	font-family: Century Gothic;
}